openapi: 3.0.1
info:
  description: This API will transform a selfie into a anime manga character
  version: 1.0.0
  title: Selfie2Anime
  termsOfService: 'https://market-place.ai.ovh.net/#!/cgu-en'
  contact:
    name: API Support
    url: 'https://gitter.im/ovh/ai'
  license:
    name: MIT
    url: 'https://github.com/jqueguiner/selfie2anime/blob/master/LICENSE'
host: api-market-place.ai.ovh.net
basePath: /
tags:
  - name: selfie2anime
    description: Everything you need to transform a selfie into a anime manga character
    externalDocs:
      description: Find out more
      url: 'https://bit.ly/'
  - name: process
    description: Transform selfie into anime
paths:
  /process:
    post:
      security:
        - apikey: []
      tags:
        - process
      summary: Transform selfie into anime
      description: Process image
      operationId: process
      responses:
        '200':
          description: OK
          content:
            image/jpg:
              schema:
                type: string
                format: binary
        '400':
          description: input error
        '401':
          description: Unauthorized
      requestBody:
        description: Transform selfie into anime
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Process'
components:
  securitySchemes:
    apikey:
      type: apiKey
      name: X-OVH-Api-Key
      in: header
  schemas:
    Process:
      type: object
      required:
        - url
      properties:
        url:
          type: string
          example: 'https://i.ibb.co/QkqCMXT/input.jpg'
